#about{
    width: 100%;
    position: relative;
    background-color:antiquewhite;
}

.aboutheader{
    padding-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.abouth2 h2{
    color: orange;
    border-bottom: 2px solid orange;
}

.abouth1 h1{
    font-size: 60px;
}

.aboutimage{
    padding: 30px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center ;
}

.alisa{
    width: 550px;
    max-width: 50%;
    height: 480px;
    background-image: url(../assets/alisa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.abouttext{
    max-width: 50%;
    width: 575px;
}

.aboutimg{
    max-width: 100%;
    width: 300px;
    height: 40px;
    background-image: url(../assets/imzo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{    
    position: absolute;
    top: 410px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.header h1{
    font-size: 70px;
    color: white;
}

.header h2{
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.btn{
    display: flex;
    gap: 10px;
    position: relative;
}

button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    cursor: pointer;
}

.btn1::before{
    content: " ";
    background-color: rgb(210, 137, 0);
    position: absolute;
    width: 150px;
    height: 0%;
    left: 0;
    bottom:0;
    transition: 0.3s;
}

.btn1:hover::before{
    height: 100%;
    z-index: -1;
}

.btn2::before{
    content: " ";
    background-color: rgb(210, 137, 0);
    position: absolute;
    width: 150px;
    height: 0%;
    right: 0;
    bottom:0;
    transition: 0.3s;
}

.btn2:hover::before{
    height: 100%;
    z-index: -1;
}

button p{
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}

.down{
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 30px;
    animation-name: down;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.down a{
    font-size: 80px;
    font-weight: 900;
    block-size: 100px;
    color: white;
}

@keyframes down {
    0%{
        height: 5%;
    }
    50%{
        height: 10%;
    }
    100%{
        height: 0%;
    }
}

@media screen and (max-width:916px) {
    .abouth1 h1{
        font-size: 40px;
        text-align: center;
    }
    .abouth1 h2{
        font-size: 18px;
    }
    .aboutimage{
        flex-direction: column;
    }
    .alisa{
        max-width: 80%;
    }
    .abouttext{
        max-width: 80%;
    }
}