.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: white;
    height: 100px;
    position: relative;
}
.navbarScroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    background-color: transparent;
    height: 100px;
    position: relative;
}
.logo img{
    width: 100px;
}
.navItems ul,
.toggle ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.navItems ul li a,
.toggle ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
    letter-spacing: 2px;
}
.navbar .navItems ul li a,
.navbar .toggle ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
    letter-spacing: 2px;
}
.navItems ul li a:hover,
.toggle ul li a:hover{
    color: orange;
}
.icon{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 18px;
}
.icon a{
    color: white;

}
.icon a:hover{
    color: orange;
}
.navbar .icon{
    color: black;
    display: flex;
    gap: 10px;
    font-size: 30px;
}
.navbarScroll .icon{
    font-size: 18px;
    color: black;
}
.bar{
    display: none;
}


@media screen and (max-width:916px) {
    .logo img{
        width: 70px;
    }
    .navItems ul li a,
    .toggle ul li a{
        font-size: 15px;
    }
    .icon{
        font-size: 15px;
    }
    .header{
        z-index: -1;
    }
    .navItems{
        z-index: 1;
    }

}
@media screen and (max-width:768px) {
    .navbar{
        height: 80px;
    }
    .bar{
        display: block;
        color: black;
    }
    .navItems{
        top: 80px;
        left: -100%;
        position: absolute;
        background-color: black;
        width: 100%;
        height: calc(100vh - 80px);
        transition: 0.5s;
    }   
    .toggle{
        top: 80px;
        left:0%;
        position: absolute;
        background-color: black;
        width: 100%;
        height: calc(100vh - 80px);
        transition: 0.5s;
    }
    .navItems ul,
    .toggle ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        height: calc(100vh - 80px);
    }
    
}